:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --title-text-color: #ffffff;
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --primary-background-color: #2f303a;
  --second-backrgound-color: #f5f4fa;
  --third-backgroud-color: #ffff;
  --primary-icon-color: #afb1b8;
}

.vissualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.send-btn, .checkbox-label, .link-close, .social-list-link, .subsribe-btn, .social-list-link-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body {
  background-color: var(--title-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
}

ul,
address {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
  }
}
@media screen and (min-width: 768px) {
  .section.header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .container {
    width: 738px;
    outline: 2px solid tomato;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    outline: 2px solid tomato;
  }
}
.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  background-color: var(--accent-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}
.button.primery {
  padding: 10px 32px;
  background-color: var(--accent-color);
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button.primery:hover, .button.primery:focus {
  background-color: var(--second-accent-color);
}
.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--second-backrgound-color);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button.secondary:hover, .button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}
.button.secondary.item {
  background-color: var(--accent-color);
  color: var(--title-text-color);
}

.footer-social {
  width: 206px;
  height: 80px;
  margin-right: 93px;
}

.footer-social-titel {
  margin-bottom: 20px;
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list-link-footer {
  justify-content: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: var(--accent-color);
}

.social-list-icon-footer {
  fill: var(--title-text-color);
}

.mail-form {
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  width: 570px;
}

.form-field-footer {
  display: flex;
  flex-wrap: wrap;
}
.form-field-footer input {
  width: 358px;
  height: 50px;
  background-color: var(--primary-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--title-text-color);
  padding: 15px;
  margin-right: 12px;
}

.subsribe-btn {
  border: none;
  width: 200px;
  margin: 0;
  padding: 10px 29px;
  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--title-text-color);
}

.icon-svg {
  width: 24px;
  height: 24px;
  fill: var(--title-text-color);
  margin-left: 10px;
}

.main-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.section-titel {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.feature-list .titel {
  padding-top: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: left;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--third-backgroud-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--primary-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--title-text-color);
}

.logo-header {
  padding: 0;
  margin-right: 90px;
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo-header {
    margin-right: 95px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.speaker-form {
  margin: 0;
  padding: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  background-color: var(--third-backgroud-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-close {
  position: absolute;
  top: 8px;
  right: 8px;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.group-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.form-field label {
  margin-bottom: 4px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
}
.form-field input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:hover, .form-field input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-field textarea {
  width: 100%;
  height: 120px;
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: white;
  resize: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea:hover, .form-field textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  color: var(--primary-text-color);
}

.input-svg {
  position: relative;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-svg:hover .icon-form, .input-svg:focus .icon-form {
  fill: var(--accent-color);
}

.form-field-checkbox {
  margin-bottom: 30px;
}

.checkbox-label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  cursor: pointer;
}

.checkbox {
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
}
.checkbox:focus + .checkbox-icon {
  outline: 2px solid var(--accent-color);
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url(../img/iconcheck.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

.contract {
  color: var(--accent-color);
}

.send-btn {
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9375;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-btn:hover, .send-btn:focus {
  background-color: var(--second-accent-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: relative;
  padding: 13px 16px;
  border-bottom: 2px solid rgb(236, 236, 236);
}

@media screen and (max-width: 767px) {
  .site-nav-header {
    display: none;
  }

  .contacts-ul {
    display: none;
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: var(--primary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn:hover, .mobile-menu-btn:focus {
    fill: var(--accent-color);
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding: 48px 25px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__list {
    display: block;
    margin-bottom: 302px;
  }

  .mobile-menu__item-link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: start;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  .mobile-menu__item-link:hover, .mobile-menu__item-link:focus {
    color: var(--accent-color);
  }

  .mobile-menu__contacts-link {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-align: start;
    margin-bottom: 32px;
  }
  .mobile-menu__contacts-link:hover, .mobile-menu__contacts-link:focus {
    color: var(--accent-color);
  }

  .mobile-menu__contacts {
    display: block;
    margin-bottom: 64px;
  }

  .mobile-menu__social {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .mobile-menu__social-link,
.mobile-menu__social-link-last {
    position: relative;
    display: block;
    color: var(--accent-color);
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-right: 20px;
  }

  .mobile-menu__social-link::after {
    position: absolute;
    display: block;
    content: "";
    right: -10px;
    bottom: 0px;
    width: 2px;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .site-nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .site-nav-header__item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav-header__link {
    position: relative;
    display: block;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
    transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav-header__link:hover, .site-nav-header__link:focus {
    color: var(--accent-color);
  }
  .site-nav-header__link.current {
    color: var(--accent-color);
  }
  .site-nav-header__link.current::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 1;
    transform: translateY(2px);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .contacts-ul {
    display: blok;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts-ul__link {
    display: flex;
    align-items: center;
    margin-left: 0;
    color: var(--second-text-color);
    text-decoration: none;
  }

  .contacts-ul__item {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 8px;
    color: var(--second-text-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-ul__item:hover, .contacts-ul__item:focus {
    color: var(--accent-color);
  }

  .contacts-ul__icon {
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-ul__icon:hover {
    fill: var(--accent-color);
  }

  .nav-contacts-phone .nav-contact-icon-phone {
    width: 10px;
    height: 16px;
    margin-left: 0px;
    margin-right: 10px;
    fill: var(--second-text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-contacts-phone:hover .nav-contact-icon-phone,
.nav-contacts-phone:focus .nav-contact-icon-phone {
    fill: var(--accent-color);
  }

  .nav-contacts .contacts:not(:last-child) {
    margin-right: 50px;
  }

  .contacts {
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--second-text-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-property: fcolor;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts:hover, .contacts:focus {
    color: var(--accent-color);
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-ul {
    display: flex;
    align-items: center;
  }

  .contacts-ul__link:not(:last-child) {
    margin-right: 30px;
  }

  .mobile-menu {
    display: none;
  }
}
.hero {
  padding-left: auto;
  padding-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/jpg@1x@2x/header.jpg);
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/jpg@1x@2x/header@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/jpg@1x@2x/header.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/jpg@1x@2x/header@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/jpg@1x@2x/header.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/jpg@1x@2x/header@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.container.feature {
  height: 251px;
}

.feature-list {
  display: flex;
  height: 251px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  color: var(--second-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.feature-list p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.feature-list .item:not(:last-child) {
  margin-right: 30px;
}
.feature-list .item {
  width: 270px;
  height: 101px;
}

.features-list-link {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-backrgound-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section.featufer {
  padding-top: 0px;
  padding-bottom: 94px;
}

.section-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.section-img {
  position: relative;
  margin-top: 0;
  padding: 0;
}
.section-list .section-img:not(:last-child) {
  margin-right: 30px;
}

.box {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section.team {
  padding-bottom: 94px;
  background-color: var(--second-backrgound-color);
}

.container.team {
  padding-bottom: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.persone-data {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--third-backgroud-color);
  padding-left: 32px;
  padding-right: 32px;
}

.persone {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.proffesion {
  margin-top: 10px;
  margin-bottom: 16px;
  padding-top: 0px;
  color: var(--second-text-color);
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-team {
  display: flex;
  flex-wrap: wrap;
}
.section-team .persone:not(:last-child) {
  margin-right: 30px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 170px;
  height: 92px;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover, .clients-list-link:focus {
  outline: 1px solid var(--accent-color);
}

.clients-list-icon {
  fill: var(--primary-icon-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list-link:hover .clients-list-icon, .clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primary-background-color);
}
.footer .address {
  width: auto;
  margin-top: 0px;
  margin-right: 0px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0px;
  padding-left: 0;
  outline: none;
  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.container-footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts {
  margin-top: 0px;
}

.logo-footer {
  display: block;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-cont {
  margin-right: 70px;
}

.section.footer .studio {
  width: 1200px;
  padding-left: 15px;
  outline: 2px solid tomato;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-contacts {
  display: block;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover, .footer-contacts:focus {
  color: var(--title-text-color);
}

.nav-button {
  width: 100%;
}
.nav-button .site-nav-button {
  text-align: center;
  list-style: none;
}
.nav-button .item {
  display: inline-block;
}

.site-nav-button {
  margin-top: 0px;
  margin-bottom: 50px;
}
.site-nav-button .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  margin-right: 26px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list-item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}
.portfolio-list-item:hover, .portfolio-list-item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.team-list-link-wrapper {
  display: block;
  text-decoration: none;
}

.tem-list-item-img-wraper {
  position: relative;
  overflow: hidden;
}

.team-list-item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.submenu-text {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  overflow: auto;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-link-wrapper:hover .submenu-text, .team-list-link-wrapper:focus .submenu-text {
  transform: translateY(0);
}

.product-data {
  padding: 20px 24px;
}

.product-titel {
  text-align: left;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product {
  margin-top: 4px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}/*# sourceMappingURL=main.css.map */