.logo-header {

padding: 0;
margin-right: 90px;
  
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    @include font(700, 24px, 28px, 0.03em);
    text-decoration: none;
  }
  
  .logo-web {
    color: var(--accent-color);
  }


  // ====1200+====
  
  @media screen and (min-width: 1200px) {
    .logo-header {
      margin-right: 95px;
    }
  }
  