.section-titel {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  text-align: center;
}

// ====0-767====

@media screen and (max-width: 767px) {
  .section-titel {
    margin-top: 0px;
    margin-bottom: 30px;
    @include font(700, 28px, 33px, 0.03em);
  }
}

// ====768+====

@media screen and (min-width: 768px) {
  .section-titel {
    margin-top: 0px;
    margin-bottom: 30px;
    @include font(700, 28px, 33px, 0.03em);
  }
}

// ====1200+====

@media screen and (min-width: 1200px) {
  .section-titel {
    margin-top: 0px;
    margin-bottom: 50px;
    @include font(700, 36px, 42px, 0.03em);
  }
}

.feature-list .title {
  padding-top: 0;
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  @include font(700, 14px, 16px, 0.03em);
  text-transform: uppercase;
  text-align: left;
}
