.container {
  margin: 0 auto;
}


// 480+
@media screen and (min-width: 480px) {
  .container {
    display: block;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid tomato;
  }
}

// 768+
@media screen and (min-width: 768px) {

.section.header,
 .section{
  padding-top: 0;
  padding-bottom: 0;
}

  .container {
    width: 738px;
    outline: 2px solid tomato;
  
  }

}

// 1200+

@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
    outline: 2px solid tomato;

  }
}





