

//  основной цвет текста черный #212121 
//  вторичный цвет текста серый #757575 
//  белый #FFFFFF 
//  акцент #2196F3 
// цвет фона темносерый #2F303A 
// цвет фона вторичный светлосерый #F5F4FA 




:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --title-text-color: #ffffff;
    --accent-color: #2196f3;
    --second-accent-color: #188ce8;
    --primary-background-color: #2f303a;
    --second-backrgound-color: #f5f4fa;
    --third-backgroud-color: #ffff;
    --primary-icon-color: #afb1b8;
  }